* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    text-align: center;
    margin: 20px;
}

.algorithm-title {
    text-align: center;
    margin: 20px 0;
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.tabs>.tab {
    padding: 8px 12px;
    font-size: 1.8rem;
    color: #ccc;
    cursor: pointer;
}

.tab.active {
    color: black;
    border-bottom: 1px solid black;
}


.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.form button:hover {
    background-color: #45a049;
}

.form::placeholder {
    color: #999;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.logo a {
    text-decoration: none;
    color: #333;
    font-size: 2rem;
}

.logo a:hover {
    color: #555;
}

.algorithms {
    list-style: none;
    display: flex;
}

.algorithms li {
    margin: 0 15px;
}

.algorithms a {
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
}

.algorithms a:hover {
    color: #555;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .algorithms {
        margin-top: 10px;
    }
}

.result {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.result p {
    font-size: 1.6rem;
    color: #333;
}

.result code {
    display: block;
    font-size: 1.6rem;
    background-color: #f1f3f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.playfair-matrix {
    list-style: none;
    text-align: center;
    margin: 20px 0;
    font-size: 1.8rem;
    font-weight: 600;
}
