{% extends 'base.html' %}

{% block title %}
Affine Cryptography
{% endblock %}

{% block form %}
<form class='form' action='/affine?tab={{mode}}' method='POST'>
    <input name='message' type="text" placeholder='{{' Message' if mode=='encrypt' else 'Encrypted Message' }}'
        required>
    <input name='key-a' type="text" placeholder='Key a' required>
    <input name='key-b' type="text" placeholder='Key b' required>
    {% if mode == 'decrypt' %}
    <p class='inverse-affine'>a<sup>-1</sup> = {{inverse}}</p>
    {% endif %}
    <button type='submit'>{{'Encrypt' if mode == 'encrypt' else 'Decrypt'}}</button>
</form>
{% endblock %}

{% block result %}
{{result}}
{% endblock %}
